// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face{
    font-family: Open;
    src: url('../assets/fonts/open_sans.woff2');
}

*{
    font-family: Open;
}

ion-icon {
    &[class*="ranto-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: map-get($colors, iconRanto);
        width: 2.3em;
        height: 2.3em;
    }
    // custom icons
    &[class*="ranto-ranto"] {
        mask-image: url('../assets/imgs/icono.svg');
    }
}

.tabs-md .tab-button[aria-selected=true]{
    background-color: #488aff !important;
}
/*.toastExito{
    background: #4CAF50;
    color: white;
}
.toastError{
    background: #F44336;
    color: white;
}*/
.toastExito{
.toast-wrapper {
    background: #4CAF50;  
  }
  .toast-message {   
    color: white;
    }  
}
.toastError{
    .toast-wrapper {
        background: #F44336;       
      }
      .toast-message {       
        color: white;
    }  
}
