page-menu {
  #sidemenu {
    //  .item-md,
    ion-content,
    ion-header,
    ion-footer {
      background-color: #7372ae;
      background: #7372ae;
      border-color: transparent;

      .toolbar-background-md,
      .item-md,
      .item-ios,
      .fixed-content,
      .ios,
      .toolbar-background-ios {
        background-color: transparent;
        background: transparent;
        border-color: transparent;
      }
    }

    .item-ios,
    .list-ios,
    .item-block,
    .item-inner {
      border: 0;
    }
  }

  .list-links {
    margin-top: 25px;

    button {
      padding: 5px 0;
    }
  }

  .footer-md::before,
  .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    height: 0;
  }

  .links {
    color: white;
    font-size: 1.3em;
    font-weight: 600;
    opacity: 0.6;
  }

  .logout {
    color: white !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
  }

  .header-md::after {
    height: 0;
  }

  .item-md.item-block .item-inner {
    border: 0;
  }
}
